@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Gianluca Vialli">
    <title>@ViewData["Title"] - WR KILLAR BROTHERHOOD - </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css">




    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">

            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">- WR KILLAR BROTHERHOOD -</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto mr-5">

                        @if (Context.Session.GetString("login") == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Home
                                    <span class="sr-only">(current)</span></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Login">Login</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Usuario" asp-action="CadUser">Cadastre-se</a>
                            </li>

                        }
                        @if (Context.Session.GetInt32("tipo") == 0)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Home
                                    <span class="sr-only">(current)</span></a>
                            </li>

                            <li class="nav-item dropdown">

                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Área Restrita
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                    <a class="dropdown-item" asp-controller="Usuario" asp-action="CadUser">Cadastrar
                                        Usuários</a>
                                    <a class="dropdown-item" asp-controller="Post" asp-action="ListarPosts">Posts
                                        Cadastrados</a>
                                    <a class="dropdown-item" asp-controller="Usuario" asp-action="ListarUser">Usuários
                                        Cadastrados</a>

                                </div>

                            </li>

                            <li class="nav-item dropdown">

                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Blog Killar
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                    <a class="dropdown-item" asp-controller="Post" asp-action="CadPosts">Crie um Post</a>
                                    <a class="dropdown-item" asp-controller="Usuario" asp-action="QuemSomos">Sobre a
                                        Killar</a>
                                    <a class="dropdown-item" asp-controller="Usuario" asp-action="Comunidade">Comunidade</a>
                                    <a class="dropdown-item" asp-controller="Usuario" asp-action="Perfil">Meu Perfil</a>

                                </div>

                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Usuario" asp-action="Logout">Sair</a>
                            </li>

                        }
                        @if (Context.Session.GetInt32("tipo") == 1)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Home
                                    <span class="sr-only">(current)</span></a>
                            </li>

                            <li class="nav-item dropdown">

                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Área player
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                    <a class="dropdown-item" asp-controller="Usuario" asp-action="QuemSomos">Sobre a
                                        Killar</a>
                                    <a class="dropdown-item" asp-controller="Post" asp-action="CadPosts">Crie um Post</a>
                                    <a class="dropdown-item" asp-controller="Usuario" asp-action="Comunidade">Comunidade</a>
                                    <a class="dropdown-item" asp-controller="Usuario" asp-action="Perfil">Meu Perfil</a>

                                </div>

                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Usuario" asp-action="Logout">Sair</a>
                            </li>

                        }
                    </ul>
                </div>
                @ViewBag.mensagem
            </div>

        </nav>

    </header>
    <div class="container-fluid">
        <main role="main" class=" pb-3">
            @RenderBody()
        </main>
    </div>
    <main>
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <small class="d-block mb-3 text-muted">&copy; <a class="col-md-6 col-sm-12" href="">_GianLost</a> -
                        @DateTime.Now.ToString("dd/MM/yyyy") - WR KILLAR BROTHERHOOD - <a
                        href="https://mail.google.com/mail/u/0/#inbox"> gianluca19993m@gmail.com</a></small>
                </div>
            </div>
        </footer>
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>