@model List<Post>
@{
    Layout = "_LayoutBlog";
    ViewData["Title"] = "Comunidade";
}


<body class="text-center col-md-6 offset-md-3">

    <main role="main" class="main-comunity">

        <div class="container-fluid mt-5 mb-5">
            @foreach (Post item in Model)
            {
                <div class="row mt-5">

                    <article id="post-@item.Id" class="comunity-cont artigo text-justify">

                        <h2 class="">@item.Titulo</h2>

                        <hr class="hr-comunity">

                        <span class="post-date mt-5">@item.DataPost</span>

                        <hr class="">

                        <div class="p-text post-content mt-4 mb-4">

                            <p>@item.Texto</p>

                        </div>

                        <hr class="">

                        <div class="modal-comentario">

                            <section id="comments-@item.Id" class="comments">

                                <h4 class="comente">Comente nesta publicação:</h4>

                                <partial name="_FormComentarios" model="@item.Id" />
                                <partial name="_ListaComentarios" model="@item.Comentarios" />

                            </section>

                        </div>

                    </article>

                </div>

                <hr class="">
            }

        </div>

    </main>

</body>
