@model List<Usuario>

@{
    ViewData["Title"] = "Perfil";
}

<body class="text-center col-md-8 col-lg-8 col-sm-8 offset-md-2">

    @foreach (Usuario u in Model)
    {

        <div class="container perf">

            <h1 class=" text-center mt-5">Olá @u.Nome</h1>

            <div class="row">
                <div class="col-md-6 mr-5 mt-5 dados-pessoais perf2">

                    <span><b>Nome:</b></span>
                    <p>@u.Nome</p>

                    <span><b>Data de Nascimento</b></span>
                    <p>@u.DataNasc.ToString("dd/MM/yyyy")</p>

                    <span><b>Whatsapp</b></span>
                    <p>@u.WhatsPub</p>

                    <span><b>E-mail</b></span>
                    <p>@u.EmailPub</p>

                </div>
            </div>

            <div class="row">
                <div class=" col-md-6 mr-5 mt-5 dados-player perf3">

                    <span><b>Nick Wr(aaaa#0000):</b></span>
                    <p>@u.NickWr</p>

                    <span><b>Nick Name:</b></span>
                    <p>@u.LoginNamePub</p>

                    <span><b>Sua senha:</b></span>
                    <p>@u.CheckSenhaPub</p>

                    <span><b>Elo Atual:</b></span>
                    <p>@u.Elo</p>

                    <span><b>Lane Principal:</b></span>
                    <p>@u.Lane</p>

                </div>
            </div>


        </div>

        <div class="operacoes mt-3">

            <a class="btn btn-lg btn-dark mr-5" href="/Usuario/EditarUser?Id=@u.Id">Alterar dados</a>
            <a class="btn btn-lg btn-dark" href="/Usuario/ExcluirUser?Id=@u.Id"> Exluir Usuário</a>

        </div>

    }

</body>
