@model List<Usuario>

@{
    ViewData["Title"] = "Perfil";
}

<body class="text-center">

    <main role="main" class="body-perf">
        @foreach (Usuario u in Model)
        {

            <div class="container col-md-8 perfil border border-primary">

                <h1 class=" text-center mb-4">Olá @u.Nome,<span> este são seus dados.</span></h1>
                <hr class="mb-4 mt-3">
                <img class="rounded-circle border border-primary" src="../Imagens/perfil.png" alt="">
                <hr class="mb-4">
                <div class="row">
                    <div class="col-md-6 pessoal">

                        <label for="">Nome:</label>
                        <input class="form-control" placeholder="@u.Nome" readonly />

                        <label for="">Data de Nascimento:</label>
                        <input class="form-control" placeholder="@u.DataNasc.ToString("dd/MM/yyyy")" readonly />

                        <label for="">Whatsapp:</label>
                        <input class="form-control" placeholder="@u.WhatsPub" readonly />

                        <label for="">E-mail:</label>
                        <input class="form-control" placeholder="@u.EmailPub" readonly />

                    </div>

                    <div class=" col-md-6 game">

                        <label for="">Nick Wr(aaaa#0000):</label>
                        <input class="form-control" placeholder="@u.NickWr" readonly />

                        <label for="">Nick Name</label>
                        <input class="form-control" placeholder="@u.LoginNamePub" readonly />

                        <label for="">Sua senha:</label>
                        <input class="form-control" placeholder="@u.CheckSenhaPub" readonly />

                        <label for="">Elo Atual:</label>
                        <input class="form-control" placeholder="@u.Elo" readonly />

                        <label for="">Lane Principal:</label>
                        <input class="form-control" placeholder="@u.Lane" readonly />
                        <span><b></b></span>

                    </div>
                </div>


            </div>

            <div class="operacoes mt-3">

                <a class="btn btn-lg btn-dark mr-5 mt-4" href="/Usuario/EditarUser?Id=@u.Id">Alterar dados</a>
                <a class="btn btn-lg btn-dark mt-4 mr-5" href="/Usuario/ExcluirUser?Id=@u.Id"> Exluir Usuário</a>

            </div>

        }

    </main>

</body>
